body {
    margin: 0;
}

main {
    background-color: aquamarine;
    height: 100vh;
}


@keyframes fade {
    to {
        opacity: 0;
        transform: scale(5);
    }
}

.prikk {
    position: absolute;
    left: 300px;
    top: 200px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid olive;
    animation: fade 5s forwards;
}